h1 {
    background-color: coral;
    color: red;
}

.green{
    background-color: green;
}

#red{
    background-color: orangered;
}

.is-centered {
    text-align: center;
}
.is-red {
    color: red;
}

