h2{
    background-color: purple;
    color: white;
    font-style: italic;
}
.centered{
    text-align: center;
}
.right-aligned{
    text-align: right;
}
h3{
    background-color: skyblue;
    text-decoration: underline;
    font-family: cursive;
}
h1{
    background-color: black;
    color: white;
    font-family: cursive;
}
.cyan-text{
    color: cyan;
}